.vehicle-section{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    .vehicle-container{
        width: 550px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 40px;
        margin-top: 30px;

        .vehicle-header{
            text-align: center;
            margin-bottom: 20px;

            &_title{
                font-weight: 500;
            }
            &_text{
                font-weight: 350;
                font-size: 16px;
                opacity: 0.7;

            }

        }

        .vehicle-form{
            display: flex;
            flex-direction: column;
            gap: 12px;

            &_child{
                display: flex;
                flex-direction: column;
                gap: 7px;

                &-text{
                    font-weight: 600;

                }
               
                &-select{
                    opacity: 0.75;

                }
                &-description{
                    padding: 15px 10px;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    font-size: 17px;
                    height: 140px;
                }
                &-description:focus{
                    outline: none;
                    border: 1px solid #1053f3;
                    box-shadow: 0 0 5px #1053f3;
                }
            }

            &_btn{
                width: 100%;
                border: none;
                color: #fff;
                background-color: #1053f3;
                padding: 15px 10px;
                border-radius: 10px;
                font-size: 17px;
                font-weight: 600;
                margin-bottom: 8px;
                cursor: pointer;
            }
            &_photos{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 350px;
                border: 2px dashed #ccc;
                border-radius: 15px;
                gap: 20px;
            
                &-image{
                    width: 180px;
                }
                &-line{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    opacity: .8;
            
                    &_hr{
                        width: 70px;
                        background-color: rgb(255, 255, 255);
                        height: 0px;
                        border-radius: 50%;
                    }
                }
                &-btn{
                    width: 150px;
                    height: 22px;
                    border: none;
                    color: #fff;
                    background-color: #1053f3;
                    padding: 15px 10px;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 500;
                    cursor: pointer;
            
                }
                &-text{
                    opacity: .6;
                    font-size: 13px;
                }
                .selected-photo{
                    width: 50px;
                    height: 50px;
                }
            }
        }

    }
    
}